@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-navy-950 text-gray-100 antialiased;
  }
}

@layer components {
  .gradient-text {
    @apply bg-gradient-to-r from-electric-400 to-blue-400 bg-clip-text text-transparent;
  }
}